.ActionCard {
  width: 75%;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: auto;
  font-family: var(--main-font);
  cursor: pointer;

  &-name {
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
  }

  &-img {
    width: 220px;
  }

  &-price {
    text-align: center;

    &-old {
      text-decoration: line-through;
    }
    &-new {
      background-color: var(--hover-red);
      padding: 0.2rem;
      border: 1px solid var(--main-blue);
    }
  }
}
