.Contact {
  font-family: var(--main-font);
  width: 100%;
  box-sizing: border-box;
  color: var(--main-blue);
  display: flex;

  &-info {
    flex: 1;
    display: flex;
    flex-direction: column;

    h4 {
      margin-top: 1rem;
    }

    &-logo {
      width: 200px;
      align-self: flex-start;
      margin-bottom: 1rem;
    }
  }

  &-form {
    flex: 5;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;

    input,
    textarea {
      display: block;
      width: 100%;
      border: 1px solid var(--main-blue);
      font-family: var(--main-font);
      font-size: 1.2rem;
      padding: 0.2rem;
      outline: 2px solid transparent;
      margin-bottom: 1rem;

      &:active,
      &:focus {
        outline: 2px solid var(--main-blue);
      }
    }

    textarea {
      height: 200px;
    }

    button {
      width: 50%;
      align-self: center;

      border: 1px solid var(--main-blue);
      font-family: var(--main-font);
      font-size: 1.2rem;
      padding: 0.2rem;
      outline: 2px solid transparent;

      &:hover {
        outline: 2px solid var(--main-blue);
      }
    }
  }
}

.SendingData {
  border: 1px solid var(--main-blue);
  font-family: var(--main-font);
  padding: 8rem 3rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .Contact {
    flex-direction: column;

    &-info {
      h4 {
        display: none;
      }

      h2 {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 1rem;
      }

      &-logo {
        align-self: center;
        margin-bottom: 0rem;
      }
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 800px) {
  .Contact {
    flex-direction: column;

    &-info {
      h4 {
        display: none;
      }

      h2 {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 1rem;
      }

      &-logo {
        align-self: center;
        margin-bottom: 0rem;
      }
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
  .BannerLeft {
    display: none;
  }
}
