.Phones {
  box-sizing: border-box;
  padding: 1rem 0rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 18% 80%;
  justify-content: flex-start;

  &-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 3rem;
    justify-content: center;
    justify-items: center;
  }
}

@media screen and (max-width: 640px) {
  .Phones {
    display: grid;
    grid-gap: 1rem;

    &-items {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 2rem;
      align-content: center;
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 800px) {
  .BannerRight {
    display: none;
  }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
}
