.PhoneCard {
  width: 75%;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: auto;
  font-family: var(--main-font);
  cursor: pointer;

  &-name {
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
  }

  &-img {
    width: 220px;
  }

  &-price {
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .PhoneCard {
    &-img {
      width: 150px;
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 800px) {
  .PhoneCard {
    &-img {
      width: 170px;
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
  &-img {
    width: 190px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1400px) {
  &-img {
    width: 200px;
  }
}
