@import './_parameters';

.UserMenu {
  display: flex;
  justify-content: flex-end;
  &-list {
    list-style: none;
    display: flex;
    font-family: var(--main-font);
    font-size: 0.8rem;
    font-weight: 700;

    li {
      padding: 0rem 1.5rem 1rem 1.5rem;
      a {
        text-decoration: none;
        color: var(--main-blue);
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
          color: red;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .UserMenu {
    margin: 1rem 0;
    justify-content: center;

    &-list {
      width: 90%;
      font-size: 0.5rem;
      font-weight: 700;
      margin: auto;
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .UserMenu {
    margin: 1rem 0;
    justify-content: center;

    &-list {
      font-size: 0.8rem;
      font-weight: 700;
    }
  }
}
