.WatchCard {
  width: 75%;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: auto;
  font-family: var(--main-font);
  cursor: pointer;
  background-color: #fff;
  border: 1px solid var(--main-blue);

  &-name {
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
  }

  &-img {
    width: 220px;
  }

  &-price {
    text-align: center;
  }
}
